<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <link rel="stylesheet" asp-href-include="tailwindcss/styles.css">
    @* <script type="text/javascript" defer=""> *@
    @*     $("input.input-validation-error").addClass('text-red-500 text-md').html() *@
    @* </script> *@
</head>
<body class="container">

@RenderBody()

</body>
</html>